<?xml version="1.0" encoding="UTF-8"?>
<!-- scan="true" 热部署配置 修改后进行从新加载 -->
<!-- scanPeriod="60 seconds" 每隔指定时间进行一次修改扫描 -->
<configuration scan="true" scanPeriod="60 seconds">
	<!-- 定义上下文名称 -->
	<contextName>logback</contextName>
	<!-- 配置变量 -->
	<property name="log.path"
		value="G:\\eclipse-workspace\\项目日志输出位置\\springDemo-module01.log" />
	<!-- 生产时日志输出 -->
	<springProfile name="pro">
		<!-- 将日志记录到文件中 -->
		<appender name="LOG" class="ch.qos.logback.core.FileAppender">
			<file>${log.path}</file>
			<append>true</append>
			<encoder>
				<!-- 日志输出格式 -->
				<pattern>
					时间:%d{yyyy/MM/dd HH:mm:ss.SSS}    线程名称:[%thread] %n    类名:%logger{35} %n    信息:%msg  %n%n
				</pattern>
			</encoder>
			<!-- 日志的切分 -->
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolic">
				<!-- 日志切分方式 按日切分 -->
				<fileNamePattern>logback.%d{yyyy-MM-dd}.log</fileNamePattern>
				<!-- 最大保留时间 30天 -->
				<maxHistory>30</maxHistory>
				<!-- 文件最大容量 -->
				<totalSizeCap>100MB</totalSizeCap>
			</rollingPolicy>
		</appender>
	</springProfile>

	<!-- 测试时日志输出 -->
	<springProfile name="test">
		<!-- 将日志记录到文件中 -->
		<appender name="LOG" class="ch.qos.logback.core.FileAppender">
			<file>${log.path}</file>
			<append>true</append>
			<encoder>
				<!-- 日志输出格式 -->
				<pattern>
					时间:%d{HH:mm:ss.SSS}    线程名称:[%thread] %n    类名:%logger{35} %n    信息:%msg  %n%n
				</pattern>
			</encoder>
			<!-- 日志的切分 -->
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolic">
				<!-- 日志切分方式 按日切分 -->
				<fileNamePattern>logback.%d{yyyy-MM-dd}.log</fileNamePattern>
				<!-- 最大保留时间 30天 -->
				<maxHistory>30</maxHistory>
				<!-- 文件最大容量 -->
				<totalSizeCap>100MB</totalSizeCap>
			</rollingPolicy>
		</appender>
	</springProfile>

	<!-- 控制台日志输出 -->
	<springProfile name="dev">
		<!-- 将日志打印到控制台 -->
		<appender name="LOG"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<!-- 日志输出格式 -->
				<pattern>
					时间:%d{HH:mm:ss.SSS}    线程名称:[%thread] %n    类名:%logger{35} %n    信息:%msg  %n%n
				</pattern>
			</encoder>
		</appender>
	</springProfile>

	<root level="INFO">
		<appender-ref ref="LOG" />
	</root>
</configuration>
